<div>
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-md-12">

      <h3 class="dark-text seaweed"> <span class="proj-name" (click)="back()">{{ project.name }}</span> / Sprint {{ sprint.number }} </h3> 

      <hr/>

      <app-alert *ngIf="displayMessage" [alertMessage]="alertMessage"></app-alert>

      <button class="btn btn-new-s" data-toggle="modal" data-target="#userstoryModal">
          <i class="fa fa-plus-circle fa-3x"></i>
        </button>
    </div>
  </div>

  <app-userstory-list [userstories]="userstories" ></app-userstory-list>
  <app-userstory-modal (submitEvent)="onNewUserstories($event)"></app-userstory-modal>

  
</div>