<!-- .row-proj -->
<div class="row row-proj">
  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 1
    </button>
  </div>

  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 2
    </button>
  </div>

  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 3
    </button>
  </div>
</div>

<!-- .row-proj -->
<div class="row row-proj">
  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 4
    </button>
  </div>

  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 5
    </button>
  </div>

  <div class="col text-center">
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/chart.svg" width="75" height="75"/><br/>
      Test Project 6
    </button>
  </div>
</div>
