.btn-new {
  color: var(--color-2);
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
  outline: none !important;
}

.btn-new:hover {
  color: var(--purple-glass);
}
