<div>
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-md-12">

      <!-- added title -->
      <h3 class="dark-text seaweed title">Project Dashboard</h3>
      
      <hr/>

      <button class="btn btn-new" data-toggle="modal" data-target="#projectModal">
        <i class="fa fa-plus-circle fa-3x"></i>
      </button>

      <app-alert *ngIf="displayMessage" [alertMessage]="alertMessage"></app-alert>

    </div>
  </div>

  <app-project-list [projects]="ownedProjects"></app-project-list>
  <app-project-modal (submitEvent)="onNewProject($event)"></app-project-modal>
</div>
