<!-- .row-proj -->
<div class="row row-proj">
  <div class="col">
    
  </div>

  <div class="col">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Sprint startDate - endDate<br/>
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Active<br/>
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Is Release Sprint
    </button>
  </div>

  <div class="col">
    
  </div>
</div>

<!-- .row-proj -->
<div class="row row-proj">
  <div class="col">
    
  </div>

  <div class="col">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Sprint startDate - endDate<br/>
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Expired<br/>
      <img src="../../../assets/images/arrow.svg" width="15" height="15"/> Is Not Release Sprint
    </button>
  </div>

  <div class="col">
    
  </div>
</div>
