<div class="row text-center seaweed">
  <div *ngFor="let list of sprints" class="col-md-6 offset-md-3 project">
    <!-- added rounded to class -->
    <div class="project-inline rounded" (click)="openUserstories(list)">

        <!-- added caret image -->
        <i class="fa fa-caret-right"></i>
        Sprint {{ list.number }} <br/>
  
        <i class="fa fa-caret-right"></i>
        Release sprint: 
        <!-- added *ngIf -->
        <span *ngIf="list.release == true">Yes</span>
        <span *ngIf="list.release == false">No</span> <br/>
        <!-- Release Sprint? {{ list.release }} <br/> -->
  
        <!-- added Date: -->
        <i class="fa fa-caret-right"></i>
        Date: {{ list.startDate }} -- {{ list.endDate }}
  
      </div> 
    </div>
  </div>

