<!-- .row-proj -->
<div class="row row-proj">
  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 1
    </button>
  </div>

  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 2
    </button>
  </div>

  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 3
    </button>
  </div>
</div>
  
<!-- .row-proj -->
<div class="row row-proj">
  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 4
    </button>
  </div>

  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 5
    </button>
  </div>

  <div class="col text-center">
    <!-- .btn-test -->
    <button type="button" class="btn btn-lg btn-test">
      <img src="../../../assets/images/menu.svg" width="75" height="75"/><br/>
      Test Story 6
    </button>
  </div>
</div>