<div class="container">
    <!-- .top-buffer -->
    <div class="row top-buffer">
        <div class="col text-center">
            <h1>Project Squidward</h1>
        </div>
    </div>

    <!-- .top-buffer -->
    <div class="row top-buffer">
        <div class="col text-center">
            <img src="../../../assets/images/github-logo.svg" width="40" height="40"/>

            <!-- .btn-login -->
            <button type="button" class="btn btn-lg btn-login">Login with GitHub</button>
        </div>
    </div>
</div>
