<div class="row text-center seaweed">
  <!-- TODO -->
  <div *ngFor="let list of userstories" class="col-md-4 project">
    <div class="project-inline">
      <span *ngIf="list.status.statusType == 'DONE'" class="badge badge-pill badge-success">Done</span>
      <span *ngIf="list.status.statusType == 'TODO'" class="badge badge-pill badge-danger">To Do</span>
      <span *ngIf="list.status.statusType == 'IN PROGRESS'" class="badge badge-pill badge-warning">In Progress</span>
      <br/> {{ list.story }} <br/>
      Start tag: tag:<{{ list.startTag }}> <br/>
      End tag: tag:<{{ list.doneTag }}> <br/>
      Difficulty: {{ list.difficulty }} <br/>

      <span *ngIf="list.startUrl !== null">Start URL: <a href="{{ list.startUrl }}" > Commit </a> </span>
      <span *ngIf="list.doneUrl !== null">End URL: <a href="{{ list.doneUrl }}" > Commit </a></span>

    </div> 
  </div>
  <br/>

<!-- IN PROGRESS -->

  <!-- <div *ngFor="let list of userstories" class="col-md-4 project">
    <div class="project-inline">
      <i class="fa fa-bar-chart-o"></i>
      {{ list.story }} <br/>
      {{ list.difficulty }}
    </div> 
  </div>
  <br/> -->

  <!-- DONE -->
  <!-- <div *ngFor="let list of userstories" class="col-md-4 project">
    <div class="project-inline">
      <i class="fa fa-bar-chart-o"></i>
      {{ list.story }} <br/>
      {{ list.difficulty }}
    </div> 
  </div> -->

  </div>
  
  