<div class="login-page">

  <div class="row">
    <div class="col-md-12 text-center nopadding">

      <div class="seaweed smokey-text">
        <h1 class="login-header">SQUIDWARD</h1>
        <h3>Scrum Master Analysis Tool</h3>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">

      <form class="form">
        <div class="form-group">
          <input [(ngModel)]="email" name="email"
                 type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" name="password"
                 type="password" class="form-control" placeholder="Password">
        </div>
        <button (click)="onLogin()"
                type="submit" class="btn btn-login white-on-glass">
          Login
        </button>
        <button (click)="onRegister()"
                type="submit" class="btn btn-login white-on-glass">
          Register
        </button>
      </form>

      <app-alert *ngIf="displayMessage" [alertMessage]="alertMessage"></app-alert>

    </div>
  </div>
</div>
