<div class="login-page">

  <div class="row">
    <div class="col-md-12 text-center nopadding">

      <div class="seaweed smokey-text">
        <h1 class="login-header">SQUIDWARD</h1>
        <h3>Scrum Master Analysis Tool</h3>
      </div>
      <!--<div>-->
        <!--<a href="https://github.com/login/oauth/authorize?client_id=Iv1.d10898f268a22d3b&scope=repo,user,admin:repo_hook&allow_signup=true"-->
           <!--class="btn btn-login">-->
          <!--<i class="fa fa-2x fa-github icon-align"></i>-->
          <!--<span class="text-login">Sign in with GitHub</span>-->
        <!--</a>-->
      <!--</div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="form">
        <div class="form-group">
          <input required type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input required type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-login">Login</button>
        <button type="submit" class="btn btn-login">Register</button>
      </form>
    </div>
  </div>

</div>
