.navbar {
  margin-bottom: 20px;
}

.logout-button {
  border: none;
  padding: 5px;
  cursor:pointer;
  background-color: transparent;
  color: white;
}

.logout-button:hover {
  color: var(--purple-glass);
}

.home:hover {
  color: var(--purple-glass);
}
