<app-navbar></app-navbar>

<ol class="breadcrumb transparent">
    <li class="breadcrumb-item active"><a href="/sprints/{{project.id}}">{{project.name}}</a></li>
    <li class="breadcrumb-item active"><a href="/userstories/{{sprint.id}}">Sprint {{sprint.number}}</a></li>
    <li class="breadcrumb-item active">Burn Down Chart</li>
  </ol>    

<hr/>

<div style="width: 50%; margin: 0 auto; margin-top: 5%">
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]= true
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
</div>