  .btn-new-s {
    color: var(--color-2);
    background-color: transparent !important;
    outline: none !important;
    padding-left: 95%;
    box-shadow: none;
  }
  
  .btn-new-s:hover {
    color: var(--purple-glass);
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  