<div>
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-md-12">
      <h3 class="dark-text seaweed">{{ project.name }}</h3>
      
      <ol class="breadcrumb transparent">
        <li class="breadcrumb-item active">{{project.name}}</li>
      </ol>    

      <hr/>
      <app-alert *ngIf="displayMessage" [alertMessage]="alertMessage"></app-alert>

      <button class="btn btn-new-s" data-toggle="modal" data-target="#projectModal">
        <i class="fa fa-plus-circle fa-3x"></i>
      </button>
    </div>
  </div>

  <app-sprint-list [sprints]="sprints"></app-sprint-list>
  <app-sprint-modal (submitEvent)="onNewSprints($event)"></app-sprint-modal>
</div>
