:root {

  --color-1: #120f0f;
  --color-2: #6b656e;
  --color-3: #f1f1f9;
  --color-4: #e2dacf;
  --color-5: #c5b19d;
}

body {
  background-color: var(--color-3);
}

.row {
  margin: 0;
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-md-* {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.seaweed {
  font-family: 'Josefin Sans', sans-serif;
}
