:root {
  --color-1: #120f0f;
  --color-2: #6b656e;
  --color-3: #f1f1f9;
  --color-4: #e2dacf;
  --color-5: #c5b19d;

  --smoke: #f2f2f2;
  --purple-glass: #6b656eA0;
  --alert-glass: #7c5360A0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-3);
}

.row {
  margin: 0;
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.seaweed {
  font-family: 'Josefin Sans', sans-serif;
}

.smokey-text {
  color: var(--smoke);
}

.smoke-on-glass {
  color: var(--smoke);
  background-color: var(--purple-glass);
}

.white-on-glass {
  color: white;
  background-color: var(--purple-glass);
}
